* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #f8f8f8!important;
}

.title-header {
    font-size: 25px!important;
    font-weight: 700;
    color: #444;
}

.color-green-theme{
    color: #1B6A5C!important;
}

.title {
    font-size: 25px!important;
    font-weight: 700;
    color: #444;
}

.option-text {
    font-size: 25px!important;
    font-weight: 700;
    color: #fff;
    padding: 7px;
    background-color: #1B6A5C;
    border-radius: 10px;

}
