{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript" src="{% static 'js/graphic.js' %}" defer></script>

{#    DATEPICKER   #}
{#    // datepicker -> biblioteca requer jQuery#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/dt_manipulation.js' %}" defer></script>

{% endblock %}

{% block content %}
    <div class="d-flex mt-5 flex-wrap-reverse justify-content-center">
        <div class="col-lg-3 col-9 pb-lg-0">
            <h4 class="text-center title-filtro mb-3 mt-md-0 mt-5">Filtrar por</h4>
            <div class="mb-3">
                <label for="initial-date" class="label color-green-theme filter-label">Data inicial</label>
                <input id="initial-date" />

{#                <input type="date" name="initial-date" id="initial-date" class="form-control" max="{% now 'Y-m-d' %}" />#}
            </div>
            <div class="mb-3">
                <label for="end-date" class="label color-green-theme filter-label">Data final</label>
                <input id="end-date" />
{#                <input type="date" name="end-date" id="end-date" class="form-control" max="{% now 'Y-m-d' %}" />#}
            </div>
            <div class="mb-3">
                <label for="coin" class="label color-green-theme filter-label">Moeda</label>
                <select name="coin" id="coin" class="form-select">
                    <option value="BRL">Real</option>
                    <option value="EUR">Euro</option>
                    <option value="JPY">Iene</option>
                </select>
            </div>
            <div class="mb-3 text-center">
{#                <input type="submit" value="Filtrar" class="form-control btn btn-outline-green-theme" />#}
                <button class="btn btn-outline-green-theme" type="button" id="filtro">
                  <span class="spinner-grow spinner-grow-sm d-none" aria-hidden="true" id="loading-filter"></span>
                  <span role="status">Filtrar</span>
                </button>
            </div>
        </div>
        <div class="col-lg-7 col-11 d-flex justify-content-center align-items-center" id="div-graphic">
            <div id="load-graphic" class="">
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span>Carregando...</span>
            </div>

            <div id="graphic" class="d-none">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>

        </div>
    </div>
{% endblock content %}